.apk-body{
    background-color: black;
}

.apk-h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10;
    text-align: center;
    color: white;
}