/* VARIABLES - none */

.apk-body{
    background-color: #202020;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

/* HEADER */
div.apk-div-company-name{
    font-size: 3em;
    color: black;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 5px;
    background-color: white;
    border-radius: 100px;
}
.apk-p-description{
    text-align: center;
    color: white;
}

/* STYLES FOR MAINTENANCE BANNER */
.apk-p-under-construction{
    text-align: center;
    color: white;
    margin-top: 50px;
    /* display: none; */
}
.apk-p-under-construction span{
    font-size: 3em;
    color: crimson;
    font-style: normal;
    background-color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
}

/* BODY CONTENT */
div.apk-div-contact-title{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: dodgerblue;
}
div.apk-div-contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
div.apk-div-tech-stack-title{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: dodgerblue;
}
div.apk-div-tech-stack-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}